{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{text-align:center;color: black;}
        img{
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:700px;
            height:250px;
            border-radius: 20px;
        }
        p{
            text-align: justify;
            line-height: 20px;
            padding: 20px;

        }
        
         body {
        background-color:gold;
        }
</style>


    </style>
</head>
<body>
    <h1>
        Egmore
    </h1>
    <img src="{% static 'Egmore.jpg' %}">
   
    
    <p>Egmore is a bustling neighbourhood in the heart of Chennai, known for its blend of history, culture, and modern urban life. It is home to the iconic Egmore Railway Station, one of the city’s major transit hubs, and the Government Museum, a landmark that showcases centuries of South Indian art, archaeology, and natural history. With its tree-lined roads, educational institutions, hospitals, and a mix of old colonial architecture alongside contemporary buildings, Egmore serves as both a commercial center and a residential enclave.</p>
     
</body>
</html>