{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{text-align:center;color: black;}
        img{
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:700px;
            height:250px;
            border-radius: 20px;
        }
        p{
            text-align: justify;
            line-height: 20px;
            padding: 20px;

        }
        
         body {
        background-color:green;
        }
</style>


    </style>
</head>
<body>
    <h1>
        Koyambedu
    </h1>
    <img src="{% static 'koyambedu.jpg' %}">
   
    
    <p>Koyambedu is a major commercial and transportation hub in Chennai, best known for housing one of Asia’s largest wholesale markets for fruits, vegetables, and flowers. The area is also home to the Chennai Mofussil Bus Terminus (CMBT), one of the biggest bus terminals in South Asia, making it a key gateway for travelers across Tamil Nadu and neighboring states. Over the years, Koyambedu has grown into a busy urban center filled with shops, hotels, and residential complexes.</p>
     
</body>
</html>