{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{text-align:center;color:black;}
        img{
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:700px;
            height:250px;
            border-radius: 20px;
        }
        p{
            text-align: justify;
            line-height: 20px;
            padding: 20px;

        }
        
         body {
        background-color:blue;
        }
</style>


    </style>
</head>
<body>
    <h1>
        Nungambakkam
    </h1>
    <img src="{% static 'Nungambakkam.jpg' %}">
   
    
    <p>Nungambakkam is one of Chennai’s most vibrant and upscale neighbourhoods, known for its mix of culture, commerce, and cosmopolitan lifestyle. It is home to leading educational institutions, foreign consulates, art galleries, and a lively stretch of cafés, restaurants, and boutiques. The area blends quiet residential streets with bustling commercial hubs, making it popular among students, professionals, and families alike.</p>
     
</body>
</html>