{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{text-align:center;color:black;}
        img{
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:700px;
            height:250px;
            border-radius: 20px;
        }
        p{
            text-align: justify;
            line-height: 20px;
            padding: 20px;

        }
        
         body {
        background-color:palevioletred;
        }
</style>


    </style>
</head>
<body>
    <h1>
        Virugambakkam
    </h1>
    <img src="{% static 'virugambakkam.jpg' %}">
   
    
    <p>Virugambakkam is a well-established residential neighbourhood in western Chennai, known for its calm streets, strong community atmosphere, and convenient urban amenities. Once a quiet suburb with open fields and film studios, it has grown into a lively locality filled with schools, parks, markets, and places of worship. The area is well connected through Arcot Road, giving residents easy access to nearby hubs like Vadapalani and Koyambedu.</p>
     
</body>
</html>